.root {
  @apply bg-primary text-sm text-white cursor-pointer inline-flex px-10 rounded-lg leading-6 transition ease-in-out duration-150 shadow-sm font-semibold text-center justify-center uppercase py-4 border border-transparent items-center;
}

.root:hover {
  @apply bg-primary-dark text-secondary;
}

.root:focus {
  @apply outline-none ring-0;
}

.root[data-active] {
  @apply bg-gray-600;
}

.loading {
  @apply bg-accents-5 text-accents-8 cursor-not-allowed;
}

.slim {
  @apply py-2 transform-none normal-case;
}

.disabled, .disabled:hover {
  @apply text-accents-8 bg-accents-5 cursor-not-allowed;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}