.root {
  /*@apply sticky top-0 bg-white z-40 transition-all duration-150 border-b border-gray-200;*/
  background: rgb(40, 87, 189);
  background: linear-gradient(150deg, rgba(40, 87, 189, 1) 0%, rgba(19, 154, 147, 1) 100%);
  @apply sticky top-0 z-40 transition-all duration-150;
}

.link {
  @apply inline-flex items-center leading-6 font-medium transition ease-in-out duration-75 cursor-pointer text-accents-3 rounded-md p-1;
}

.link:hover {
  @apply text-accents-1;
}

.link:focus {
  @apply outline-none text-accents-8 ring-2 ring-pink ring-opacity-50;
}

.logo {
  @apply cursor-pointer rounded-full transform duration-100 ease-in-out;
  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }
}